/**
 * Put here app specific styles.
 * you can import variables and modules from the Omorfia project which is
 * available as NPM dependency.
 */

// TwitterBoostrap:
// @import "./styles/_bootstrap";

@import "./styles/_mixins";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import './styles/_variables';
@import './styles/_responsive-tables';
@import './styles/_responsive-tweaks';
@import './styles/_wells';
@import './styles/_blog';


$footer-height: 52px;

.order-indicator {
  float: right;
  margin-top: 3px;
}

html, body {
  height: 100%;
  background: #f7f7f7;
}
.app-area {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -$footer-height;
}
.app-area:after {
  content: "";
  display: block;
}

.footer, .app-area:after {
  height: $footer-height;
}

.footer .nav > li {
    position: relative;
    display: inline-block;
}

#app,
#app > div,
#app > div > div {
  height: 100%;
  min-height: 100%;
}

.add-well,
.chitikaAdContainer {
  text-align: center;
  overflow: hidden;

  &.in-content {
    margin: 30px 0 10px;
    padding: 0;
    border: 0;
    box-shadow: none;
  }
}

.navbar-default {
  background: $white;
}

.adsoptimal-slot {
  display: inline-block;
}

#ad-scripts {
  min-height: 0;
  height: auto;
}

.related-link {
  display: block;
}

.actor-list th {
  cursor: pointer;
}

$light-red: #ffe6e6;
.new-feature {
  position: relative;
  background: $light-red;
}
.new-feature:after {
  content: 'new';
  font-size: 10px;
  color: red;
  position: absolute;
  top: 10px;
  transform: rotate(-45deg);
  font-weight: bold;
}

.jumbotron {
  background: rgba(50,153,204,0.38);
  background: -moz-radial-gradient(center, ellipse cover, rgba(50,153,204,0.38) 0%, rgba(50,153,204,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(50,153,204,0.38)), color-stop(100%, rgba(50,153,204,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(50,153,204,0.38) 0%, rgba(50,153,204,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(50,153,204,0.38) 0%, rgba(50,153,204,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(50,153,204,0.38) 0%, rgba(50,153,204,1) 100%);
  background: radial-gradient(ellipse at center, rgba(50,153,204,0.38) 0%, rgba(50,153,204,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3299cc', endColorstr='#3299cc', GradientType=1 );
}
