@mixin well-styling($color) {
  border-bottom: 3px solid $color;
  .head-icon {
    color: $color;
    font-size: 40px;
  }
  .btn { @include button-variant($white, $color, $color); }
}

.well {
  @include well-styling($purple);
  &.accent { @include well-styling($blue); }
  &.highlight { @include well-styling($green); }
}

.well-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  > div {
    margin-bottom: 30px;
  }

  .well {
    height: 100%;
  }
}


.content-well {
  padding-bottom: 64px;

  .button-box {
    bottom: 30px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }
}